/****** Object:  User [DATALAKE_REPORTING]    Script Date: 07/01/2026 11:35:19 ******/
CREATE USER [DATALAKE_REPORTING] FROM  EXTERNAL PROVIDER 
GO
/****** Object:  User [MRPI_DATACATALOG_USERS]    Script Date: 07/01/2026 11:35:19 ******/
CREATE USER [MRPI_DATACATALOG_USERS] FROM  EXTERNAL PROVIDER 
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N'MRPI_DATACATALOG_USERS'
GO
sys.sp_addrolemember @rolename = N'db_datawriter', @membername = N'MRPI_DATACATALOG_USERS'
GO
/****** Object:  Schema [lineage]    Script Date: 07/01/2026 11:35:19 ******/
CREATE SCHEMA [lineage]
GO
/****** Object:  Table [lineage].[MUSGRAVE_DATA_CATALOG_LINKED_ASSET_TABLE]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lineage].[MUSGRAVE_DATA_CATALOG_LINKED_ASSET_TABLE](
	[Linked_Asset_SID] [int] NOT NULL,
	[Linked_Asset_To_Asset_SID] [int] NOT NULL,
	[Linked_Asset_Link_Type_SID] [int] NOT NULL,
	[Linked_Asset_Link_Description] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [lineage].[MUSGRAVE_DATA_CATALOG_AREA]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lineage].[MUSGRAVE_DATA_CATALOG_AREA](
	[Area_SID] [int] IDENTITY(1,1) NOT NULL,
	[Area_Description] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Area_SID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [lineage].[MUSGRAVE_DATA_CATALOG_LINK_TYPE]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lineage].[MUSGRAVE_DATA_CATALOG_LINK_TYPE](
	[Link_Type_SID] [int] IDENTITY(1,1) NOT NULL,
	[Link_Type_Name] [varchar](200) NULL,
	[Link_Type_Description] [varchar](max) NULL,
 CONSTRAINT [PK_MUSGRAVE_DATA_CATALOG_LINK_TYPE] PRIMARY KEY CLUSTERED 
(
	[Link_Type_SID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [lineage].[MUSGRAVE_DATA_CATALOG_SUB_AREA]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lineage].[MUSGRAVE_DATA_CATALOG_SUB_AREA](
	[Sub_Area_SID] [int] IDENTITY(1,1) NOT NULL,
	[Sub_Area_Description] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Sub_Area_SID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [lineage].[MUSGRAVE_DATA_CATALOG_PROJECT]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lineage].[MUSGRAVE_DATA_CATALOG_PROJECT](
	[Project_SID] [int] IDENTITY(1,1) NOT NULL,
	[Project_Description] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Project_SID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [lineage].[MUSGRAVE_DATA_CATALOG_FREQUENCY]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lineage].[MUSGRAVE_DATA_CATALOG_FREQUENCY](
	[Frequency_SID] [int] IDENTITY(1,1) NOT NULL,
	[Frequency_Description] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Frequency_SID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [lineage].[MUSGRAVE_DATA_CATALOG_DIVISION]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lineage].[MUSGRAVE_DATA_CATALOG_DIVISION](
	[Division_SID] [int] IDENTITY(1,1) NOT NULL,
	[Division_Description] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Division_SID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [lineage].[MUSGRAVE_DATA_CATALOG_ZONE]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lineage].[MUSGRAVE_DATA_CATALOG_ZONE](
	[Zone_SID] [int] IDENTITY(1,1) NOT NULL,
	[Zone_Description] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Zone_SID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [lineage].[MUSGRAVE_DATA_CATALOG_CLASSIFICATION]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lineage].[MUSGRAVE_DATA_CATALOG_CLASSIFICATION](
	[Classification_SID] [int] IDENTITY(1,1) NOT NULL,
	[Classification_Description] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Classification_SID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [lineage].[MUSGRAVE_DATA_CATALOG_SOURCE_SYSTEM]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lineage].[MUSGRAVE_DATA_CATALOG_SOURCE_SYSTEM](
	[Source_system_SID] [int] IDENTITY(1,1) NOT NULL,
	[Source_System_Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Source_system_SID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [lineage].[MUSGRAVE_DATA_CATALOG_DATA_TYPES]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lineage].[MUSGRAVE_DATA_CATALOG_DATA_TYPES](
	[Data_Type_SID] [int] IDENTITY(1,1) NOT NULL,
	[Data_Type_Description] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Data_Type_SID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE](
	[Asset_SID] [int] IDENTITY(1,1) NOT NULL,
	[Asset_Parent_SID] [int] NULL,
	[Asset_Business_Facing_Name] [varchar](250) NULL,
	[Asset_Name] [varchar](250) NOT NULL,
	[Asset_Location] [varchar](500) NULL,
	[Asset_Item_In_Asset_Sequence] [int] NULL,
	[Asset_Details] [varchar](max) NULL,
	[Asset_Summary] [varchar](max) NULL,
	[Asset_Sample_Data] [varchar](250) NULL,
	[Asset_Lineage_Description] [varchar](500) NULL,
	[Asset_Transformations] [varchar](max) NULL,
	[Asset_Anomalies] [varchar](500) NULL,
	[Asset_Freshness] [int] NULL,
	[Asset_Search_Tags] [varchar](500) NULL,
	[Asset_Owner] [varchar](250) NULL,
	[Asset_Status] [int] NOT NULL,
	[Asset_Division_SID] [int] NULL,
	[Asset_Frequency_SID] [int] NULL,
	[Asset_Project_SID] [int] NULL,
	[Asset_Area_SID] [int] NULL,
	[Asset_Sub_Area_SID] [int] NULL,
	[Asset_Object_Sub_Type_SID] [int] NULL,
	[Asset_Zone_SID] [int] NULL,
	[Asset_Classification_SID] [int] NULL,
	[Asset_Data_Type_SID] [int] NULL,
	[Asset_Source_System_SID] [int] NULL,
	[Asset_Date_Added] [datetime] NOT NULL,
	[Asset_Last_Updated_By] [varchar](50) NULL,
	[Asset_Last_Updated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Asset_SID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [lineage].[MUSGRAVE_DATA_CATALOG_OBJECTS]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lineage].[MUSGRAVE_DATA_CATALOG_OBJECTS](
	[Object_Sub_Type_SID] [int] IDENTITY(1,1) NOT NULL,
	[Object_Type_Description] [varchar](100) NULL,
	[Object_Sub_Type_Description] [varchar](100) NULL,
	[Object_Sub_Type_List_order] [int] NULL,
	[Object_Sub_Type_Level] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Object_Sub_Type_SID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [lineage].[MUSGRAVE_DATA_CATALOG_STATUS]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lineage].[MUSGRAVE_DATA_CATALOG_STATUS](
	[Status_Code] [int] NOT NULL,
	[Status_Description] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Status_Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [lineage].[MUSGRAVE_DATA_CATALOG_LINKED_ASSET_VIEW]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [lineage].[MUSGRAVE_DATA_CATALOG_LINKED_ASSET_VIEW] AS
-- First part: Original direction (A → B)
SELECT 
    M.Asset_SID,
    TLA.Asset_Business_Facing_Name AS Asset_Parent_Name,
    M.Asset_Business_Facing_Name,
    M.Asset_Name,
    M.Asset_Location,
    M.Asset_Item_In_Asset_Sequence,
    M.Asset_Details,
    M.Asset_Summary,
    M.Asset_Sample_Data,
    M.Asset_lineage_Description,  
    M.Asset_Transformations,
    M.Asset_Anomalies,
    M.Asset_Freshness,
    M.Asset_Search_Tags,
    M.Asset_Owner,
    M.Asset_Status,
    ST.Status_Description,
    DIV.Division_Description,
    F.Frequency_Description,
    P.Project_Description,
    A.Area_Description,
    SA.Sub_Area_Description,
    OT.Object_Type_Description,
    OT.Object_Sub_Type_Description,
    Z.Zone_Description,
    CL.Classification_Description,
    DT.Data_Type_Description,
    SS.Source_System_Description,
    M.Asset_Date_Added,
    M.Asset_Last_Updated,
    M.Asset_Last_Updated_By,
    OT.Object_Sub_Type_List_order, 
    OT.Object_Sub_Type_Level,
    LA.Linked_Asset_SID,
    LA.Linked_Asset_To_Asset_SID,  -- Extra field for the Linked Asset SID
    LA.Linked_Asset_Link_Description,
    LT.Link_Type_Name,
    LT.Link_Type_Description
FROM
    [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] M
INNER JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_LINKED_ASSET_TABLE] LA 
    ON M.Asset_SID = LA.Linked_Asset_SID  -- Only return linked assets (A → B)
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] TLA 
    ON M.Asset_Parent_SID = TLA.Asset_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_ZONE] Z 
    ON M.Asset_Zone_SID = Z.Zone_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_DIVISION] DIV 
    ON M.Asset_Division_SID = DIV.Division_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_PROJECT] P 
    ON M.Asset_Project_SID = P.Project_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_AREA] A 
    ON M.Asset_Area_SID = A.Area_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_SUB_AREA] SA 
    ON M.Asset_Sub_Area_SID = SA.Sub_Area_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_OBJECTS] OT 
    ON M.Asset_Object_Sub_Type_SID = OT.Object_Sub_Type_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_FREQUENCY] F 
    ON M.Asset_Frequency_SID = F.Frequency_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_CLASSIFICATION] CL 
    ON M.Asset_Classification_SID = CL.Classification_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_DATA_TYPES] DT 
    ON M.Asset_Data_Type_SID = DT.Data_Type_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_SOURCE_SYSTEM] SS 
    ON M.Asset_Source_System_SID = SS.Source_System_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_STATUS] ST 
    ON M.Asset_Status = ST.Status_code
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_LINK_TYPE] LT 
    ON LA.Linked_Asset_Link_Type_SID = LT.Link_Type_SID  -- Join for link type details
WHERE
    M.Asset_Status > 0

UNION ALL

-- Second part: Reverse direction (B → A)
SELECT 
    M_Reverse.Asset_SID,
    TLA_Reverse.Asset_Business_Facing_Name AS Asset_Parent_Name,
    M_Reverse.Asset_Business_Facing_Name,
    M_Reverse.Asset_Name,
    M_Reverse.Asset_Location,
    M_Reverse.Asset_Item_In_Asset_Sequence,
    M_Reverse.Asset_Details,
    M_Reverse.Asset_Summary,
    M_Reverse.Asset_Sample_Data,
    M_Reverse.Asset_lineage_Description,  
    M_Reverse.Asset_Transformations,
    M_Reverse.Asset_Anomalies,
    M_Reverse.Asset_Freshness,
    M_Reverse.Asset_Search_Tags,
    M_Reverse.Asset_Owner,
    M_Reverse.Asset_Status,
    ST_Reverse.Status_Description,
    DIV_Reverse.Division_Description,
    F_Reverse.Frequency_Description,
    P_Reverse.Project_Description,
    A_Reverse.Area_Description,
    SA_Reverse.Sub_Area_Description,
    OT_Reverse.Object_Type_Description,
    OT_Reverse.Object_Sub_Type_Description,
    Z_Reverse.Zone_Description,
    CL_Reverse.Classification_Description,
    DT_Reverse.Data_Type_Description,
    SS_Reverse.Source_System_Description,
    M_Reverse.Asset_Date_Added,
    M_Reverse.Asset_Last_Updated,
    M_Reverse.Asset_Last_Updated_By,
    OT_Reverse.Object_Sub_Type_List_order, 
    OT_Reverse.Object_Sub_Type_Level,
    LA_Reverse.Linked_Asset_To_Asset_SID AS Linked_Asset_SID,
    LA_Reverse.Linked_Asset_SID AS Linked_Asset_To_Asset_SID,  -- Swap the SIDs
    LA_Reverse.Linked_Asset_Link_Description,
    LT_Reverse.Link_Type_Name,
    LT_Reverse.Link_Type_Description
FROM
    [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] M_Reverse
INNER JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_LINKED_ASSET_TABLE] LA_Reverse 
    ON M_Reverse.Asset_SID = LA_Reverse.Linked_Asset_To_Asset_SID  -- Return linked assets (B → A)
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] TLA_Reverse 
    ON M_Reverse.Asset_Parent_SID = TLA_Reverse.Asset_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_ZONE] Z_Reverse 
    ON M_Reverse.Asset_Zone_SID = Z_Reverse.Zone_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_DIVISION] DIV_Reverse 
    ON M_Reverse.Asset_Division_SID = DIV_Reverse.Division_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_PROJECT] P_Reverse 
    ON M_Reverse.Asset_Project_SID = P_Reverse.Project_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_AREA] A_Reverse 
    ON M_Reverse.Asset_Area_SID = A_Reverse.Area_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_SUB_AREA] SA_Reverse 
    ON M_Reverse.Asset_Sub_Area_SID = SA_Reverse.Sub_Area_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_OBJECTS] OT_Reverse 
    ON M_Reverse.Asset_Object_Sub_Type_SID = OT_Reverse.Object_Sub_Type_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_FREQUENCY] F_Reverse 
    ON M_Reverse.Asset_Frequency_SID = F_Reverse.Frequency_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_CLASSIFICATION] CL_Reverse 
    ON M_Reverse.Asset_Classification_SID = CL_Reverse.Classification_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_DATA_TYPES] DT_Reverse 
    ON M_Reverse.Asset_Data_Type_SID = DT_Reverse.Data_Type_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_SOURCE_SYSTEM] SS_Reverse 
    ON M_Reverse.Asset_Source_System_SID = SS_Reverse.Source_System_SID
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_STATUS] ST_Reverse 
    ON M_Reverse.Asset_Status = ST_Reverse.Status_code
LEFT JOIN 
    [lineage].[MUSGRAVE_DATA_CATALOG_LINK_TYPE] LT_Reverse 
    ON LA_Reverse.Linked_Asset_Link_Type_SID = LT_Reverse.Link_Type_SID  -- Join for link type details
WHERE
    M_Reverse.Asset_Status > 0;
GO
/****** Object:  Table [lineage].[MUSGRAVE_DATA_CATALOG_OBJECT_SUB_TYPE_LEVELS]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lineage].[MUSGRAVE_DATA_CATALOG_OBJECT_SUB_TYPE_LEVELS](
	[Object_Sub_Type_Level_SID] [int] NOT NULL,
	[Object_Sub_Type_Level_Name] [nvarchar](255) NULL,
	[Object_Sub_Type_Level_Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Object_Sub_Type_Level_SID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [lineage].[MUSGRAVE_DATA_CATALOG_OBJECTS_VIEW]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE VIEW [lineage].[MUSGRAVE_DATA_CATALOG_OBJECTS_VIEW] AS
  SELECT DISTINCT O1.Object_Sub_Type_SID,O1.Object_Type_Description,
  O1.Object_Sub_Type_Description,O1.Object_Sub_Type_Level,O2.Object_Sub_Type_Level_Name
  FROM [lineage].[MUSGRAVE_DATA_CATALOG_OBJECTS] O1
  INNER JOIN [lineage].[MUSGRAVE_DATA_CATALOG_OBJECT_SUB_TYPE_LEVELS] O2
  ON O1.Object_Sub_Type_Level = O2.Object_Sub_Type_Level_SID
GO
/****** Object:  View [lineage].[MUSGRAVE_DATA_CATALOG_DASHBOARD_ASSETS_VIEW]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [lineage].[MUSGRAVE_DATA_CATALOG_DASHBOARD_ASSETS_VIEW] AS
WITH TableCounts AS (
    -- Get the count of tables (Object_Sub_Type_Level < 3)
    SELECT
        A1.Area_Description,
        S1.Sub_Area_Description,
        T1.Object_Type_Description,
		T1.Object_Sub_Type_Description,
        M1.Asset_Business_Facing_Name,
		M1.Asset_Name AS Asset_Technical_Name,
        M1.Asset_Parent_SID,
		T1.Object_Sub_Type_Level,
		M1.Asset_SID,
		P1.Project_Description
    FROM [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] M1
    INNER JOIN [lineage].[MUSGRAVE_DATA_CATALOG_AREA] A1
        ON A1.Area_SID = M1.Asset_Area_SID
	INNER JOIN [lineage].[MUSGRAVE_DATA_CATALOG_PROJECT] P1
		ON P1.Project_SID = M1.Asset_Project_SID
    INNER JOIN [lineage].[MUSGRAVE_DATA_CATALOG_SUB_AREA] S1
        ON S1.Sub_Area_SID = M1.Asset_Sub_Area_SID
    INNER JOIN [lineage].[MUSGRAVE_DATA_CATALOG_OBJECTS_VIEW] T1
        ON T1.Object_Sub_Type_SID = M1.Asset_Object_Sub_Type_SID
    WHERE T1.Object_sub_Type_Level < 3
    GROUP BY A1.Area_Description, S1.Sub_Area_Description, T1.Object_Type_Description, T1.Object_Sub_Type_Description, M1.Asset_Business_Facing_Name, M1.Asset_Name,M1.Asset_Parent_SID,T1.Object_Sub_Type_Level,M1.Asset_SID,P1.Project_Description
),
ElementCounts AS (
    -- Get the count of elements (Object_Sub_Type_Level = 4) for each Asset_Parent_SID
    SELECT
        M1.Asset_Parent_SID,
        COUNT(M1.Asset_SID) AS ELEMENT_COUNT
    FROM [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] M1
    INNER JOIN [lineage].[MUSGRAVE_DATA_CATALOG_OBJECTS] T1
        ON T1.Object_Sub_Type_SID = M1.Asset_Object_Sub_Type_SID
    WHERE T1.Object_sub_Type_Level >= 3
    GROUP BY M1.Asset_Parent_SID
),
-- Join the two counts together and add Asset_Parent_Name
AssetParentNames AS (
    -- Get Asset_Parent_SID and corresponding Asset_Business_Facing_Name
    SELECT 
        M2.Asset_SID AS Asset_Parent_SID,
        M2.Asset_Business_Facing_Name AS Asset_Parent_Name
    FROM [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] M2
)
SELECT DISTINCT
    TC.Area_Description,
    TC.Sub_Area_Description,
    TC.Object_Type_Description,
	TC.Object_Sub_Type_Description,
    TC.Asset_Business_Facing_Name,
    ISNULL(EC.ELEMENT_COUNT, 0) AS ASSET_COUNT,
    AP.Asset_Parent_Name,  -- Include the parent name
	TC.Asset_Technical_Name,
	TC.Object_Sub_Type_Level,
	TC.Asset_SID,
	TC.Project_Description
FROM TableCounts TC
LEFT JOIN ElementCounts EC
    ON TC.Asset_Parent_SID = EC.Asset_Parent_SID
LEFT JOIN AssetParentNames AP
    ON TC.Asset_Parent_SID = AP.Asset_Parent_SID;
GO
/****** Object:  View [lineage].[MUSGRAVE_DATA_CATALOG_FILTER_ASSETS_VIEW]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [lineage].[MUSGRAVE_DATA_CATALOG_FILTER_ASSETS_VIEW] AS
SELECT 
    Asset_SID,
    Asset_Business_Facing_Name,
    Object_Sub_Type_Level,
    CONCAT('%', Asset_Business_Facing_Name, '%') AS SearchFilter
FROM 
    lineage.MUSGRAVE_DATA_CATALOG_DASHBOARD_ASSETS_VIEW
WHERE 
    Object_Sub_Type_Level IN (0, 1, 2)  -- Add or adjust levels as needed
GO
/****** Object:  View [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_VIEW]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_VIEW] AS
WITH LinkedAssets AS (
    -- Generate a distinct list of all linked Asset_SIDs
    SELECT DISTINCT Linked_Asset_SID 
    FROM [lineage].[MUSGRAVE_DATA_CATALOG_LINKED_ASSET_TABLE]
    UNION
    SELECT DISTINCT Linked_Asset_To_Asset_SID
    FROM [lineage].[MUSGRAVE_DATA_CATALOG_LINKED_ASSET_TABLE]
),
DuplicateCounts AS (
    SELECT 
        Asset_Name, 
        COUNT(*) AS DUPLICATE_COUNT
    FROM 
        [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE]
    WHERE 
        Asset_Status > 0
    GROUP BY 
        Asset_Name
)
SELECT 
    M.Asset_SID,
    TLA.Asset_Business_Facing_Name AS Asset_Parent_Name,
    M.Asset_Business_Facing_Name,
    M.Asset_Name,
    M.Asset_Location,
    M.Asset_Item_In_Asset_Sequence,
    M.Asset_Details,
    M.Asset_Summary,
    M.Asset_Sample_Data,
    M.Asset_lineage_Description,  
    M.Asset_Transformations,
    M.Asset_Anomalies,
    M.Asset_Freshness,
    M.Asset_Search_Tags,
    M.Asset_Owner,
	M.Asset_Status,
    ST.Status_Description,
    DIV.Division_Description,
    F.Frequency_Description,
    P.Project_Description,
    A.Area_Description,
    SA.Sub_Area_Description,
    OT.Object_Type_Description,
    OT.Object_Sub_Type_Description,
	Z.Zone_Description,
    CL.Classification_Description,
	DT.Data_Type_Description,
    SS.Source_System_Description,
	M.Asset_Date_Added,
    M.Asset_Last_Updated,
    M.Asset_Last_Updated_By,
    OT.Object_Sub_Type_List_order,OT.Object_Sub_Type_Level, 
	M.Asset_Parent_SID,
    M.Asset_Division_SID,
    M.Asset_Frequency_SID,
    M.Asset_Project_SID,
    M.Asset_Area_SID,
    M.Asset_Sub_Area_SID,
    M.Asset_Object_Sub_Type_SID,
    M.Asset_Zone_SID,
    M.Asset_Classification_SID,
    M.Asset_Data_Type_SID,
    M.Asset_Source_System_SID,
    -- Constructed SEARCH_FIELD with proper handling of NULLs
    CONCAT(
        UPPER(ISNULL(M.Asset_Name, '')),
        UPPER(ISNULL(M.Asset_Business_Facing_Name,'')), 
        UPPER(ISNULL(M.Asset_Search_Tags, '')),
        UPPER(ISNULL(M.Asset_Summary, '')),
        UPPER(ISNULL(M.Asset_Details, '')),
        UPPER(ISNULL(Z.Zone_Description, '')),
		UPPER(ISNULL(OT.Object_Sub_Type_Description,''))
    ) AS SEARCH_FIELD,
    ISNULL(D.DUPLICATE_COUNT, 0) AS DUPLICATE_COUNT,
    CASE 
        WHEN LinkedAssets.Linked_Asset_SID IS NOT NULL THEN 1 
        ELSE 0 
    END AS LINKED_FLAG
FROM
    [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] M
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] TLA ON M.Asset_Parent_SID = TLA.Asset_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_ZONE] Z ON M.Asset_Zone_SID = Z.Zone_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_DIVISION] DIV ON M.Asset_Division_SID = DIV.Division_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_PROJECT] P ON M.Asset_Project_SID = P.Project_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_AREA] A ON M.Asset_Area_SID = A.Area_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_SUB_AREA] SA ON M.Asset_Sub_Area_SID = SA.Sub_Area_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_OBJECTS] OT ON M.Asset_Object_Sub_Type_SID = OT.Object_Sub_Type_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_FREQUENCY] F ON M.Asset_Frequency_SID = F.Frequency_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_CLASSIFICATION] CL ON M.Asset_Classification_SID = CL.Classification_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_DATA_TYPES] DT ON M.Asset_Data_Type_SID = DT.Data_Type_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_SOURCE_SYSTEM] SS ON M.Asset_Source_System_SID = SS.Source_System_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_STATUS] ST ON M.Asset_Status = ST.Status_code
LEFT JOIN DuplicateCounts D ON M.Asset_Name = D.Asset_Name
LEFT JOIN LinkedAssets ON M.Asset_SID = LinkedAssets.Linked_Asset_SID
WHERE
    M.Asset_Status > 0;
GO
/****** Object:  View [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_VIEW_OLDER]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_VIEW_OLDER] AS
WITH LinkedAssets AS (
    -- Generate a distinct list of all linked Asset_SIDs
    SELECT DISTINCT Linked_Asset_SID 
    FROM [lineage].[MUSGRAVE_DATA_CATALOG_LINKED_ASSET_TABLE]
    UNION
    SELECT DISTINCT Linked_Asset_To_Asset_SID
    FROM [lineage].[MUSGRAVE_DATA_CATALOG_LINKED_ASSET_TABLE]
),
DuplicateCounts AS (
    SELECT 
        Asset_Name, 
        COUNT(*) AS DUPLICATE_COUNT
    FROM 
        [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE]
    WHERE 
        Asset_Status > 0
    GROUP BY 
        Asset_Name
)
SELECT 
    M.Asset_SID,
    TLA.Asset_Business_Facing_Name AS Asset_Parent_Name,
    M.Asset_Business_Facing_Name,
    M.Asset_Name,
    M.Asset_Location,
    M.Asset_Item_In_Asset_Sequence,
    M.Asset_Details,
    M.Asset_Summary,
    M.Asset_Sample_Data,
    M.Asset_lineage_Description,  
    M.Asset_Transformations,
    M.Asset_Anomalies,
    M.Asset_Freshness,
    M.Asset_Search_Tags,
    M.Asset_Owner,
	M.Asset_Status,
    ST.Status_Description,
    DIV.Division_Description,
    F.Frequency_Description,
    P.Project_Description,
    A.Area_Description,
    SA.Sub_Area_Description,
    OT.Object_Type_Description,
    OT.Object_Sub_Type_Description,
	Z.Zone_Description,
    CL.Classification_Description,
	DT.Data_Type_Description,
    SS.Source_System_Description,
	M.Asset_Date_Added,
    M.Asset_Last_Updated,
    M.Asset_Last_Updated_By,
    OT.Object_Sub_Type_List_order,OT.Object_Sub_Type_Level, 
	M.Asset_Parent_SID,
    M.Asset_Division_SID,
    M.Asset_Frequency_SID,
    M.Asset_Project_SID,
    M.Asset_Area_SID,
    M.Asset_Sub_Area_SID,
    M.Asset_Object_Sub_Type_SID,
    M.Asset_Zone_SID,
    M.Asset_Classification_SID,
    M.Asset_Data_Type_SID,
    M.Asset_Source_System_SID,
    -- Constructed SEARCH_FIELD with proper handling of NULLs
    CONCAT(
        UPPER(ISNULL(M.Asset_Name, '')),
        UPPER(ISNULL(M.Asset_Business_Facing_Name,'')), 
        UPPER(ISNULL(M.Asset_Search_Tags, '')),
        UPPER(ISNULL(M.Asset_Summary, '')),
        UPPER(ISNULL(M.Asset_Details, '')),
        UPPER(ISNULL(Z.Zone_Description, '')),
		UPPER(ISNULL(OT.Object_Sub_Type_Description,''))
    ) AS SEARCH_FIELD,
    ISNULL(D.DUPLICATE_COUNT, 0) AS DUPLICATE_COUNT,
    CASE 
        WHEN LinkedAssets.Linked_Asset_SID IS NOT NULL THEN 1 
        ELSE 0 
    END AS LINKED_FLAG
FROM
    [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] M
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] TLA ON M.Asset_Parent_SID = TLA.Asset_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_ZONE] Z ON M.Asset_Zone_SID = Z.Zone_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_DIVISION] DIV ON M.Asset_Division_SID = DIV.Division_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_PROJECT] P ON M.Asset_Project_SID = P.Project_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_AREA] A ON M.Asset_Area_SID = A.Area_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_SUB_AREA] SA ON M.Asset_Sub_Area_SID = SA.Sub_Area_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_OBJECTS] OT ON M.Asset_Object_Sub_Type_SID = OT.Object_Sub_Type_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_FREQUENCY] F ON M.Asset_Frequency_SID = F.Frequency_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_CLASSIFICATION] CL ON M.Asset_Classification_SID = CL.Classification_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_DATA_TYPES] DT ON M.Asset_Data_Type_SID = DT.Data_Type_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_SOURCE_SYSTEM] SS ON M.Asset_Source_System_SID = SS.Source_System_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_STATUS] ST ON M.Asset_Status = ST.Status_code
LEFT JOIN DuplicateCounts D ON M.Asset_Name = D.Asset_Name
LEFT JOIN LinkedAssets ON M.Asset_SID = LinkedAssets.Linked_Asset_SID
WHERE
    M.Asset_Status > 0;
GO
/****** Object:  View [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_VIEW_NEW_AREA_TEMP]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_VIEW_NEW_AREA_TEMP] AS
WITH LinkedAssets AS (
    SELECT DISTINCT Linked_Asset_SID 
    FROM [lineage].[MUSGRAVE_DATA_CATALOG_LINKED_ASSET_TABLE]
    UNION
    SELECT DISTINCT Linked_Asset_To_Asset_SID
    FROM [lineage].[MUSGRAVE_DATA_CATALOG_LINKED_ASSET_TABLE]
),
DuplicateCounts AS (
    SELECT 
        Asset_Name, 
        COUNT(*) AS DUPLICATE_COUNT
    FROM 
        [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE]
    WHERE 
        Asset_Status > 0
    GROUP BY 
        Asset_Name
),
ExpandedAssets AS (
SELECT 
    M.Asset_SID,
    M.Asset_Parent_SID,
    M.Asset_Business_Facing_Name,
    M.Asset_Name,
    M.Asset_Location,
    M.Asset_Item_In_Asset_Sequence,
    M.Asset_Details,
    M.Asset_Summary,
    M.Asset_Sample_Data,
    M.Asset_lineage_Description,
    M.Asset_Transformations,
    M.Asset_Anomalies,
    M.Asset_Freshness,
    M.Asset_Search_Tags,
    M.Asset_Owner,
    M.Asset_Status,
    M.Asset_Division_SID,
    M.Asset_Frequency_SID,
    M.Asset_Project_SID,
    M.Asset_Area_SID,                  -- Original Area SID
    M.Asset_Sub_Area_SID,
    M.Asset_Object_Sub_Type_SID,
    M.Asset_Zone_SID,
    M.Asset_Classification_SID,
    M.Asset_Data_Type_SID,
    M.Asset_Source_System_SID,
    M.Asset_Date_Added,
    M.Asset_Last_Updated_By,
    M.Asset_Last_Updated
FROM 
    [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] M
UNION ALL
SELECT 
    M1.Asset_SID,
    M1.Asset_Parent_SID,
    M1.Asset_Business_Facing_Name,
    M1.Asset_Name,
    M1.Asset_Location,
    M1.Asset_Item_In_Asset_Sequence,
    M1.Asset_Details,
    M1.Asset_Summary,
    M1.Asset_Sample_Data,
    M1.Asset_lineage_Description,
    M1.Asset_Transformations,
    M1.Asset_Anomalies,
    M1.Asset_Freshness,
    M1.Asset_Search_Tags,
    M1.Asset_Owner,
    M1.Asset_Status,
    M1.Asset_Division_SID,
    M1.Asset_Frequency_SID,
    M1.Asset_Project_SID,
    E1.Element_SID AS Asset_Area_SID,      -- Overridden Area SID from Additional Elements
    M1.Asset_Sub_Area_SID,
    M1.Asset_Object_Sub_Type_SID,
    M1.Asset_Zone_SID,
    M1.Asset_Classification_SID,
    M1.Asset_Data_Type_SID,
    M1.Asset_Source_System_SID,
    M1.Asset_Date_Added,
    M1.Asset_Last_Updated_By,
    M1.Asset_Last_Updated
FROM 
    [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] M1
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_ADDITIONAL_ELEMENTS] E1 
    ON M1.Asset_Parent_SID = E1.Parent_Asset_SID
WHERE E1.Element_Type = 1 -- Only include additional areas
)
SELECT 
    EA.Asset_SID,
    TLA.Asset_Business_Facing_Name AS Asset_Parent_Name,
	EA.Asset_Parent_SID,
    EA.Asset_Business_Facing_Name,
    EA.Asset_Name,
    EA.Asset_Location,
    EA.Asset_Item_In_Asset_Sequence,
    EA.Asset_Details,
    EA.Asset_Summary,
    EA.Asset_Sample_Data,
    EA.Asset_lineage_Description,
    EA.Asset_Transformations,
    EA.Asset_Anomalies,
    EA.Asset_Freshness,
    EA.Asset_Search_Tags,
    EA.Asset_Owner,
    EA.Asset_Status,
    ST.Status_Description,
    DIV.Division_Description,
    F.Frequency_Description,
    P.Project_Description,
    A.Area_Description,
    SA.Sub_Area_Description,
    OT.Object_Type_Description,
    OT.Object_Sub_Type_Description,
    Z.Zone_Description,
    CL.Classification_Description,
    DT.Data_Type_Description,
    SS.Source_System_Description,
    EA.Asset_Date_Added,
    EA.Asset_Last_Updated,
    EA.Asset_Last_Updated_By,
    OT.Object_Sub_Type_List_order,
    OT.Object_Sub_Type_Level, 
    EA.Asset_Division_SID,
    EA.Asset_Frequency_SID,
    EA.Asset_Project_SID,
    EA.Asset_Area_SID,
    EA.Asset_Sub_Area_SID,
    EA.Asset_Object_Sub_Type_SID,
    EA.Asset_Zone_SID,
    EA.Asset_Classification_SID,
    EA.Asset_Data_Type_SID,
    EA.Asset_Source_System_SID,
    CONCAT(
        UPPER(ISNULL(EA.Asset_Name, '')),
        UPPER(ISNULL(EA.Asset_Business_Facing_Name, '')), 
        UPPER(ISNULL(EA.Asset_Search_Tags, '')),
        UPPER(ISNULL(EA.Asset_Summary, '')),
        UPPER(ISNULL(EA.Asset_Details, '')),
        UPPER(ISNULL(Z.Zone_Description, '')),
        UPPER(ISNULL(OT.Object_Sub_Type_Description, ''))
    ) AS SEARCH_FIELD,
    ISNULL(D.DUPLICATE_COUNT, 0) AS DUPLICATE_COUNT,
    CASE 
        WHEN LinkedAssets.Linked_Asset_SID IS NOT NULL THEN 1 
        ELSE 0 
    END AS LINKED_FLAG
FROM
    ExpandedAssets EA
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] TLA ON EA.Asset_Parent_SID = TLA.Asset_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_ZONE] Z ON EA.Asset_Zone_SID = Z.Zone_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_DIVISION] DIV ON EA.Asset_Division_SID = DIV.Division_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_PROJECT] P ON EA.Asset_Project_SID = P.Project_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_AREA] A ON EA.Asset_Area_SID = A.Area_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_SUB_AREA] SA ON EA.Asset_Sub_Area_SID = SA.Sub_Area_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_OBJECTS] OT ON EA.Asset_Object_Sub_Type_SID = OT.Object_Sub_Type_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_FREQUENCY] F ON EA.Asset_Frequency_SID = F.Frequency_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_CLASSIFICATION] CL ON EA.Asset_Classification_SID = CL.Classification_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_DATA_TYPES] DT ON EA.Asset_Data_Type_SID = DT.Data_Type_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_SOURCE_SYSTEM] SS ON EA.Asset_Source_System_SID = SS.Source_System_SID
LEFT JOIN [lineage].[MUSGRAVE_DATA_CATALOG_STATUS] ST ON EA.Asset_Status = ST.Status_code
LEFT JOIN DuplicateCounts D ON EA.Asset_Name = D.Asset_Name
LEFT JOIN LinkedAssets ON EA.Asset_SID = LinkedAssets.Linked_Asset_SID 
WHERE
    EA.Asset_Status > 0;



GO
/****** Object:  View [lineage].[MUSGRAVE_DATA_CATALOG_DASHBOARD_AREA_TYPES_VIEW]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [lineage].[MUSGRAVE_DATA_CATALOG_DASHBOARD_AREA_TYPES_VIEW]
AS
SELECT DISTINCT A1.Area_Description,S1.Sub_Area_Description,T1.Object_Type_Description,COUNT(M1.Asset_Name) AS ASSET_COUNT
FROM [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] M1
INNER JOIN [lineage].[MUSGRAVE_DATA_CATALOG_AREA] A1
ON A1.Area_SID = M1.Asset_Area_SID
INNER JOIN [lineage].[MUSGRAVE_DATA_CATALOG_SUB_AREA] S1
ON S1.Sub_Area_SID = M1.Asset_Sub_Area_SID
INNER JOIN [lineage].[MUSGRAVE_DATA_CATALOG_OBJECTS] T1
ON T1.Object_Sub_Type_SID = M1.Asset_Object_Sub_Type_SID
GROUP BY A1.Area_Description,S1.Sub_Area_Description,T1.Object_Type_Description ;
GO
/****** Object:  Table [lineage].[MUSGRAVE_DATA_CATALOG_USER_EMAILS]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lineage].[MUSGRAVE_DATA_CATALOG_USER_EMAILS](
	[User_Email_SID] [int] IDENTITY(1,1) NOT NULL,
	[User_Email_Address] [varchar](max) NOT NULL,
	[User_Permissions] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[User_Email_SID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [lineage].[MUSGRAVE_DATA_CATALOG_USER_RIGHTS_VIEW]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE VIEW [lineage].[MUSGRAVE_DATA_CATALOG_USER_RIGHTS_VIEW] AS
  SELECT [User_Email_Address] FROM [lineage].[MUSGRAVE_DATA_CATALOG_USER_EMAILS] WHERE USER_PERMISSIONS = 1
GO
/****** Object:  View [lineage].[DASHBOARD_AREA_PROJECT_TYPES_ASSETS_SEARCH_VIEW]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [lineage].[DASHBOARD_AREA_PROJECT_TYPES_ASSETS_SEARCH_VIEW]
AS
SELECT DISTINCT AREA_DESCRIPTION,PROJECT,OBJECT_TYPE,ASSET_SIMPLE_NAME,SEARCH_FIELD
FROM [lineage].[D_ASSET_CATALOG_VIEW]
GO
/****** Object:  View [lineage].[DASHBOARD_AREA_TYPES_ASSETS_VIEW]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [lineage].[DASHBOARD_AREA_TYPES_ASSETS_VIEW]
AS
SELECT DISTINCT AREA_DESCRIPTION,PROJECT,OBJECT_TYPE,ASSET_SIMPLE_NAME,COUNT(ATTRIBUTE_NAME) AS ASSET_COUNT
FROM [lineage].[D_ASSET_CATALOG_VIEW]
GROUP BY AREA_DESCRIPTION,PROJECT,OBJECT_TYPE,ASSET_SIMPLE_NAME
GO
/****** Object:  View [lineage].[DASHBOARD_AREA_TYPES_VIEW]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [lineage].[DASHBOARD_AREA_TYPES_VIEW]
AS
SELECT DISTINCT AREA_DESCRIPTION, PROJECT,OBJECT_TYPE,COUNT(ATTRIBUTE_NAME) AS ASSET_COUNT
FROM [lineage].[D_ASSET_CATALOG_VIEW]
GROUP BY AREA_DESCRIPTION, PROJECT, OBJECT_TYPE
GO
/****** Object:  View [lineage].[DASHBOARD_AREA_VIEW]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [lineage].[DASHBOARD_AREA_VIEW]
AS
SELECT DISTINCT AREA_DESCRIPTION, COUNT(ATTRIBUTE_NAME) AS ASSET_COUNT
FROM [lineage].[D_ASSET_CATALOG_VIEW]
GROUP BY AREA_DESCRIPTION;
GO
/****** Object:  View [lineage].[DASHBOARD_AREAS_VIEW]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [lineage].[DASHBOARD_AREAS_VIEW]
AS
SELECT DISTINCT AREA_DESCRIPTION, COUNT(ATTRIBUTE_NAME) AS ASSET_COUNT
FROM [lineage].[D_ASSET_CATALOG_VIEW]
GROUP BY AREA_DESCRIPTION;
GO
/****** Object:  View [lineage].[DASHBOARD_PROJECT_SUB_TYPES_ASSETS_SEARCH_VIEW]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [lineage].[DASHBOARD_PROJECT_SUB_TYPES_ASSETS_SEARCH_VIEW]
AS
SELECT DISTINCT PROJECT,OBJECT_SUB_TYPE,ASSET_SIMPLE_NAME,SEARCH_FIELD
FROM [lineage].[D_ASSET_CATALOG_VIEW]
GO
/****** Object:  View [lineage].[DASHBOARD_PROJECT_SUB_TYPES_ASSETS_VIEW]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [lineage].[DASHBOARD_PROJECT_SUB_TYPES_ASSETS_VIEW]
AS
SELECT DISTINCT PROJECT,OBJECT_SUB_TYPE,ASSET_SIMPLE_NAME,COUNT(ATTRIBUTE_NAME) AS ASSET_COUNT
FROM [lineage].[D_ASSET_CATALOG_VIEW]
GROUP BY PROJECT,OBJECT_SUB_TYPE,ASSET_SIMPLE_NAME 
GO
/****** Object:  View [lineage].[DASHBOARD_PROJECT_SUB_TYPES_VIEW]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [lineage].[DASHBOARD_PROJECT_SUB_TYPES_VIEW]
AS
SELECT DISTINCT PROJECT, OBJECT_SUB_TYPE,COUNT(ATTRIBUTE_NAME) AS ASSET_COUNT
FROM [lineage].[D_ASSET_CATALOG_VIEW]
GROUP BY PROJECT,OBJECT_SUB_TYPE
GO
/****** Object:  View [lineage].[DASHBOARD_PROJECTS_VIEW]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [lineage].[DASHBOARD_PROJECTS_VIEW]
AS
SELECT DISTINCT PROJECT, COUNT(ATTRIBUTE_NAME) AS ASSET_COUNT
FROM [lineage].[D_ASSET_CATALOG_VIEW]
GROUP BY PROJECT;
GO
/****** Object:  View [lineage].[DASHBOARD_SECTIONS_VIEW]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [lineage].[DASHBOARD_SECTIONS_VIEW]
AS
SELECT DISTINCT AREA_DESCRIPTION,PROJECT,DIVISION_CD,SOURCE_NAME,OBJECT_TYPE,COUNT(ATTRIBUTE_NAME) AS ASSET_COUNT
FROM [lineage].[D_ASSET_CATALOG_VIEW]
GROUP BY AREA_DESCRIPTION,PROJECT,DIVISION_CD,SOURCE_NAME,OBJECT_TYPE
GO
/****** Object:  Table [lineage].[MUSGRAVE_DATA_CATALOG_LOGINS]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lineage].[MUSGRAVE_DATA_CATALOG_LOGINS](
	[Login_ID] [uniqueidentifier] NOT NULL,
	[User] [varchar](max) NULL,
	[FullName] [varchar](max) NULL,
	[Timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Login_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_POWER_USERS]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_POWER_USERS](
	[Power_User_Email] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [lineage].[MUSGRAVE_DATA_CATALOG_LOGINS] ADD  DEFAULT (newid()) FOR [Login_ID]
GO
ALTER TABLE [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] ADD  DEFAULT ('') FOR [Asset_Transformations]
GO
ALTER TABLE [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] ADD  DEFAULT ((1)) FOR [Asset_Freshness]
GO
ALTER TABLE [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] ADD  DEFAULT ('') FOR [Asset_Owner]
GO
ALTER TABLE [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] ADD  DEFAULT ((1)) FOR [Asset_Status]
GO
ALTER TABLE [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] ADD  DEFAULT ((1)) FOR [Asset_Frequency_SID]
GO
ALTER TABLE [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] ADD  DEFAULT ((3)) FOR [Asset_Classification_SID]
GO
ALTER TABLE [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] ADD  DEFAULT (getdate()) FOR [Asset_Date_Added]
GO
ALTER TABLE [lineage].[MUSGRAVE_DATA_CATALOG_MAIN_TABLE] ADD  DEFAULT (getdate()) FOR [Asset_Last_Updated]
GO
ALTER TABLE [lineage].[MUSGRAVE_DATA_CATALOG_OBJECTS] ADD  DEFAULT ((0)) FOR [Object_Sub_Type_Level]
GO
ALTER TABLE [lineage].[MUSGRAVE_DATA_CATALOG_USER_EMAILS] ADD  DEFAULT ('') FOR [User_Email_Address]
GO
ALTER TABLE [lineage].[MUSGRAVE_DATA_CATALOG_USER_EMAILS] ADD  DEFAULT ((1)) FOR [User_Permissions]
GO
/****** Object:  StoredProcedure [lineage].[GET_CATALOG_PROJECTS]    Script Date: 07/01/2026 11:35:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [lineage].[GET_CATALOG_PROJECTS]
    @ProjectName NVARCHAR(MAX) = NULL,
    @ObjectSubType NVARCHAR(MAX) = NULL,
    @SearchField NVARCHAR(MAX) = NULL
AS
BEGIN
    -- Declare a variable to store the SQL query string
    DECLARE @SQLQuery NVARCHAR(MAX);

    -- Case 1: No ProjectName provided
    IF @ProjectName IS NULL OR @ProjectName = ''
    BEGIN
        -- Base query
        SET @SQLQuery = '
            SELECT PROJECT, COUNT(OBJECT_SUB_TYPE) AS ASSET_TYPE_COUNT
            FROM [lineage].[D_ASSET_CATALOG_VIEW]
        ';

        -- Append search criteria if @SearchField is provided
        IF @SearchField IS NOT NULL AND @SearchField <> ''
        BEGIN
            SET @SQLQuery = @SQLQuery + '
                WHERE SEARCH_FIELD LIKE ''%' + @SearchField + '%''
            ';
        END

        -- Complete the query with GROUP BY clause
        SET @SQLQuery = @SQLQuery + '
            GROUP BY PROJECT
        ';
    END
    -- Case 2: ProjectName provided, with optional ObjectSubType and SearchField
    ELSE
    BEGIN
        -- Base query
        IF @ObjectSubType IS NULL OR @ObjectSubType = ''
        BEGIN
            -- Detailed view without ObjectSubType
            SET @SQLQuery = '
                SELECT PROJECT, OBJECT_SUB_TYPE, COUNT(OBJECT_SUB_TYPE) AS ASSET_TYPE_COUNT
                FROM [lineage].[D_ASSET_CATALOG_VIEW]
                WHERE PROJECT = @ProjectName
            ';

            -- Append search criteria if @SearchField is provided
            IF @SearchField IS NOT NULL AND @SearchField <> ''
            BEGIN
                SET @SQLQuery = @SQLQuery + '
                    AND SEARCH_FIELD LIKE ''%' + @SearchField + '%''
                ';
            END

            -- Complete the query with GROUP BY clause
            SET @SQLQuery = @SQLQuery + '
                GROUP BY PROJECT, OBJECT_SUB_TYPE
            ';
        END
        ELSE
        BEGIN
            -- Detailed view with ObjectSubType
            SET @SQLQuery = '
                SELECT PROJECT, OBJECT_SUB_TYPE, ASSET_SIMPLE_NAME, COUNT(ASSET_SIMPLE_NAME) AS ASSET_TYPE_COUNT
                FROM [lineage].[D_ASSET_CATALOG_VIEW]
                WHERE PROJECT = @ProjectName
                  AND OBJECT_SUB_TYPE = @ObjectSubType
            ';

            -- Append search criteria if @SearchField is provided
            IF @SearchField IS NOT NULL AND @SearchField <> ''
            BEGIN
                SET @SQLQuery = @SQLQuery + '
                    AND SEARCH_FIELD LIKE ''%' + @SearchField + '%''
                ';
            END
            -- Complete the query with GROUP BY clause
            SET @SQLQuery = @SQLQuery + '
                GROUP BY PROJECT, OBJECT_SUB_TYPE, ASSET_SIMPLE_NAME
            ';

        END
    END

    -- Execute the dynamically constructed SQL query
    EXEC sp_executesql @SQLQuery, 
        N'@ProjectName NVARCHAR(MAX), @ObjectSubType NVARCHAR(MAX)', 
        @ProjectName, @ObjectSubType;
END;
GO
